# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
target

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

#IDEA
.idea

#DO NOT ignore gradle wrapper
!gradle/wrapper/*
